
<div class="container relative p-6 mx-auto text-gray-900 bg-white rounded-lg lg:p-10">
  <div class="flex flex-wrap items-center justify-between w-full pb-4 mb-8 border-b-2 border-gray-200">
    <div class="flex flex-wrap items-start justify-between w-full pb-4 mb-4 border-b-2 border-gray-200">
      <div class="flex-1">
        <h1 class="text-3xl font-bold leading-none text-gray-800"><%= @course.title %></h1>
        <p class="text-sm italic text-gray-500">Created by <%= @course.user.name ||=
      @course.user.username %></p>
      </div>

      <% unless author_of(@course) %>
        <button id="checkout-button" data-stripe="payment" class="btn btn-default btn-lg lg:w-auto w-full lg:text-left text-center">Back this Course</button>
      <% end %>
    </div>

    <div class="w-full mb-4 lg:w-1/5 lg:mb-0">
      <p class="m-0 text-xl font-semibold leading-none"><%# @course.pledged_amount %>0</p>
      <p class="text-sm text-gray-500">pledged of <%= number_to_currency(@course.donation_goal) %></p>
    </div>

    <div class="w-full mb-4 lg:w-1/5 lg:mb-0">
      <p class="m-0 text-xl font-semibold leading-none">0</p>
      <p class="text-sm text-gray-500">backers</p>
    </div>

    <div class="w-full mb-4 lg:w-1/5 lg:mb-0">
      <p class="m-0 text-xl font-semibold leading-none">20</p>
      <p class="text-sm text-gray-500">days to go</p>
    </div>
  </div>

  <div class="flex flex-wrap items-start justify-between mb-6">
    <div class="w-full lg:w-3/5">
     <% if @course.thumbnail.present? %>
       <%= image_tag @course.thumbnail, class: "rounded" %>
       <% else %>
      <div class="flex items-center justify-center p-8 text-center bg-gray-100 rounded">
        <div class="">
          <p class="text-xs font-bold text-gray-600 uppercase">course</p>
          <h3 class="text-2xl text-black"><%= @course.title %></h3>
        </div>
      </div>
    <% end %>
    </div>
    <div class="w-full mt-6 lg:pl-10 lg:w-2/5 lg:mt-0">
      <p class="text-sm font-semibold text-gray-500 uppercase">Description</p>
      <%= @course.description %>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
          document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
          const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
            stripe.redirectToCheckout({
            sessionId: "<%= @session_id %>"
              });
          });
      </script>
      

  </div>

  <div class="w-full lg:w-3/5">
    <%= render "comments/comments", commentable: @course  %>
    <%= render "comments/form", commentable: @course %>
  </div>

  <% if admin? || author_of(@course) %>
    <div class="absolute top-0 right-0 mt-4 mr-4">
      <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-sm btn-outlined btn-default" %>
    </div>
  <% end %>
</div>